Importing pandas and data

In [11]:
import pandas as pd

# Excel file load karo
df = pd.read_csv(r"C:\Users\rehma\Pictures\Daily_tasks\Rahman-Analytics-Lab\netflix_titles.csv")

# Pehle 5 rows dekh lo
print(df.head(5))

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

Detailed structure (rows, columns, types, memory)

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

Dropping Missing(NULL) rows

In [14]:
df = df.dropna()

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   object
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: int64(1), object(11)
memory usage: 541.5+ KB
None

Handling date_time

In [16]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['date_added'] = df['date_added'].dt.strftime('%d-%m-%Y')

In [17]:
print(df.head())

   show_id     type                          title             director  \
7       s8    Movie                        Sankofa         Haile Gerima
8       s9  TV Show  The Great British Baking Show      Andy Devonshire
9      s10    Movie                   The Starling       Theodore Melfi
12     s13    Movie                   Je Suis Karl  Christian Schwochow
24     s25    Movie                          Jeans           S. Shankar

                                                 cast  \
7   Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8   Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9   Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12  Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24  Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...

                                              country  date_added  \
7   United States, Ghana, Burkina Faso, United Kin...  24-09-2021
8                                      United Kingdom  24-09-2021
9                                       United States  24-09-2021
12                            Germany, Czech Republic  23-09-2021
24                                              India  21-09-2021

    release_year rating   duration  \
7           1993  TV-MA    125 min
8           2021  TV-14  9 Seasons
9           2021  PG-13    104 min
12          2021  TV-MA    127 min
24          1998  TV-14    166 min

                                           listed_in  \
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas
12                      Dramas, International Movies
24   Comedies, International Movies, Romantic Movies

                                          description
7   On a photo shoot in Ghana, an American model s...
8   A talented batch of amateur bakers face off in...
9   A woman adjusting to life after a loss contend...
12  After most of her family is murdered in a terr...
24  When the father of the man she loves insists t...

Detecting Duplicate items

In [19]:
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

Rename Column Headers (Lowercase, no spaces)

In [20]:
# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

Standardize Text Values

In [21]:
# clean country name
df['country'] = df['country'].str.lower().str.strip()

# convert rating to standard format
df['rating'] = df['rating'].str.strip()

# convert duration to standard format
df['duration'] = df['duration'].str.strip()

Check and Fix Data Types

In [22]:
# Check data types of columns
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

 Save Cleaned Data

In [26]:
df.to_csv("cleaned_data.csv", index=False)
print(df.head())

   show_id     type                          title             director  \
7       s8    Movie                        Sankofa         Haile Gerima
8       s9  TV Show  The Great British Baking Show      Andy Devonshire
9      s10    Movie                   The Starling       Theodore Melfi
12     s13    Movie                   Je Suis Karl  Christian Schwochow
24     s25    Movie                          Jeans           S. Shankar

                                                 cast  \
7   Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8   Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9   Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12  Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24  Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...

                                              country  date_added  \
7   united states, ghana, burkina faso, united kin...  24-09-2021
8                                      united kingdom  24-09-2021
9                                       united states  24-09-2021
12                            germany, czech republic  23-09-2021
24                                              india  21-09-2021

    release_year rating   duration  \
7           1993  TV-MA    125 min
8           2021  TV-14  9 Seasons
9           2021  PG-13    104 min
12          2021  TV-MA    127 min
24          1998  TV-14    166 min

                                           listed_in  \
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas
12                      Dramas, International Movies
24   Comedies, International Movies, Romantic Movies

                                          description
7   On a photo shoot in Ghana, an American model s...
8   A talented batch of amateur bakers face off in...
9   A woman adjusting to life after a loss contend...
12  After most of her family is murdered in a terr...
24  When the father of the man she loves insists t...